@font-face {
    font-family: 'Instrument Serif';
    src: url('InstrumentSerif-Regular.woff2') format('woff2'),
        url('InstrumentSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* global, variables can be defined here */
:root {
  --main-color: #000000;
}

body {
    color: var(--main-color);
    background-color: rgb(255, 182, 193);
}


/*fallback defined*/
p {
    color: var(--main-color, rgb(79, 79, 79));
    width: 80%;
    font-size: 1.5em;
    padding: 2rem;
    margin: auto;
    text-align: left;
    font-family: "Instrument Serif", sans-serif;
}

* {
    color: var(--main-color);
    padding: 2rem;
    margin: auto;
    text-align: left;
    width: 80%;
  }

h1, h2, h3 {
    color: hsl(120, 64%, 13%);
    margin: 10pt;
    width: 5cm;
    display: block;
    font-family: "Instrument Serif", sans-serif;
    font-style: bold;
}

#unique-box {
  background-color: rgb(54, 126, 72);
  font-weight: bold;
  color: lightpink
}

/*
descendant combinator
*/
div div {
  color: rgb(40, 114, 71);
}


h1 {
    font-size: 40pt;
    text-decoration: underline;
    position: fixed
}

div {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; 
  border-style: dotted;
  border-color: hsl(120, 64%, 13%);
  border-width: 2px;
  border-radius: 8px;
  width: 300px;
  height: 150px;
  max-width: 500px;
  min-width: 200px;
  position: sticky
}

div p {
  color: red;
}

ul {
  padding: 10px 20px 10px 20px;
  display: inline;
}

button:hover {
  color: color(srgb 0 0.4 0);
  background-color: color-mix(in srgb, hotpink 70%, white 30%);
}

button:active {
  transform: scale(0.95);
  background-color: darkpink;
}
.Basics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.Accessories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

/* a tablet orrr small laptop */
@media (max-width: 900px) {
  .Basics {
    flex-direction: column;
  }
}
/* phone */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .Basics {
    flex-direction: column;
  }
}
