/* global, variables can be defined here */
:root {
  --main-color: #A9A9A9;
}

body {
    color: var(--main-color);
    background-color: rgb(255, 182, 193);
}


/*fallback defined*/
p {
    color: var(--main-color, black);
    width: 80%;
    font-size: 1.5em;
    padding: 2rem;
    margin: auto;
    text-align: left;
}

h1, h2, h3 {
    color: hsl(120, 64%, 13%);
    margin: 10pt;
    width: 5cm;
    display: block;
}

h1 {
    font-size: 40pt;
    text-decoration: underline;
    position: fixed
}

div {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; 
  border-style: dotted;
  border-color: hsl(120, 64%, 13%);
  border-width: 2px;
  border-radius: 8px;
  width: 300px;
  height: 150px;
  max-width: 500px;
  min-width: 200px;
  position: sticky
}

ul {
  padding: 10px 20px 10px 20px;
  display: inline;
}